# Frontend
Frontend/node_modules/
Frontend/dist/

# Backend
Backend/target/

# Microservices
microservices/**/target/

# Java compiled files
*.class

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment files
.env

# IntelliJ
.idea/
*.iml