.chat-container {
  width: 70%;
  background: #121212;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  color: #fff;
  font-family: Arial, sans-serif;
  
}
.chat-loader{
  flex:1;
   display:flex;
   justify-content:center;
   align-items:center;
}
