.message-item {
  margin: 10px 0;
  display: flex;
}

.sender {
  justify-content: flex-end;
}

.receiver {
  justify-content: flex-start;
}

.message-bubble {
  max-width: 60%;
  padding: 10px;
  background: #222;
  border-radius: 6px;
  color: #fff;
}

/* Sender bubble different color */
.sender .message-bubble {
  background: #333;
}

/* Row 1: message + ticks */
.msg-and-ticks {
  display: flex;
  align-items: center;
  
}

.sender-name {
  

  color: #66aaff;
  font-size: 12px;
  
  margin-bottom: 2px;
  
}

/* Message text */
.message-content {
  margin-right: 6px;
  font-size: 15px;
}

/* Ticks */
.ticks {
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.tick-read {
  color: #4da6ff;
}

.tick-delivered {
  color: #999;
}

.tick-sent {
  color: #777;
}

/* Time */
.time {
  display: block;
  margin-top: 4px;
  font-size: 11px;
  color: #aaa;
  text-align: right;
}

.message-bubble .translate-btn {
  margin-top: 6px;
  display: inline-block;
  font-size: 12px;
  color: #4da3ff;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s;
}

.message-bubble .translate-btn:hover {
  opacity: 1;
  text-decoration: underline;
}

