.search-container {
  
  background-color: #121212;
}

.search-container input {
  width: 100%;
  padding: 10px 14px;
  /*border-radius: 8px;*/
  border: 1px solid #2a2a2a;

  background-color: #1e1e1e;
  color: #ffffff;
  font-size: 14px;
  box-sizing: border-box;

  outline: none;
  transition: border 0.2s ease, box-shadow 0.2s ease;
}

/* placeholder */
.search-container input::placeholder {
  color: #888;
}

/* focus effect */
.search-container input:focus {
  /*border-color: #4f46e5; /* indigo */
  border-color:#807c7c;
  box-shadow: 0 0 0 1px rgba(79, 70, 229, 0.4);
}
